<html>
<f:layout name="Frontend" />
<f:section name="Content">

    <div class="top-image">
        <img src="{f:uri.resource(path:'Frontend/images/single-page-top1.jpg')}" alt="" />
    </div><!-- Page Top Image -->

    <section class="page">
        <div class="container">
            <div class="page-title">
                <h1><span>Login</span></h1>
            </div><!-- Page Title -->
            <f:flashMessages severity="Error" as="flashMessages">
                <div class="alert-box attention">
                    <i class="icon-exclamation-sign"></i>
                    <h4>Attention! <span><br><br>
                    <f:for each="{flashMessages}" as="flashMessage">
                        {flashMessage}<br>
                    </f:for>
                </span></h4>
                </div>
            </f:flashMessages>
            <f:flashMessages severity="OK" as="flashMessages">
                <div class="alert-box done">
                    <i class="icon-ok"></i>
                    <h4>Congrats! <span>
                    <f:for each="{flashMessages}" as="flashMessage">
                        {flashMessage}
                    </f:for>
                </span></h4>
                </div>
            </f:flashMessages>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="contact-info form" style="padding-bottom:20px">
                        
                        <div class="accordion_toggle "><a href="#"><span><i class="icon-user"></i></span>User Login</a></div>
                        <div class="accordion_content " style="display: block;" style="padding-bottom:20px">
                            <f:form action="authenticate" controller="auth" package="project.helpiez" method="post">
                                <label accesskey="U">Username <span>*</span></label>
                                <f:form.textfield class="form-control input-field" placeholder="Username" name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][username]"></f:form.textfield>
                                <label accesskey="U">Password <span>*</span></label>
                                <f:form.password class="form-control input-field" placeholder="Password" name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][password]"></f:form.password>
                                <f:form.submit value="Submit" class="form-button submit"/>
                            </f:form>
                        </div>
                    </div>
                    <div class="contact-info form">
                        
                        <div class="accordion_toggle"><a href="#"><span><i class="icon-group"></i></span>Organisation Login</a></div>
                        <div class="accordion_content " style="display: block;">
                            <f:form action="registerEmail" objectName="userAccount" controller="auth" package="Project.Helpiez" method="post">
                            <label accesskey="U">Full name <span>*</span></label>
                            <f:form.textfield property="name" placeholder="Name" name="name" class="form-control input-field"/>
                            <label accesskey="U">Username <span>*</span></label>
                            <f:form.textfield property="username" placeholder="username" name="username" class="form-control input-field"/>
                            <label accesskey="U">Email <span>*</span></label>
                            <f:form.textfield property="email" placeholder="Email" name="email" class="form-control input-field"/>
                            <label accesskey="U">Password <span>*</span></label>
                            <f:form.password property="password" placeholder="Password" class="form-control input-field" />
                            <f:form.submit value="Submit" class="form-button submit"/>
                        </f:form>
                        </div>
                    </div> 
                    
                
            </div>
        </div>

        
    </section>
    <script>
        $(window).load(function(){
            $('.countries').flexslider({
                animation: "slide",
                animationLoop: false,
                slideShow:false,
                controlNav: false,
                pausePlay: false,
                mousewheel:true,
                start: function(slider){
                    $('body').removeClass('loading');
                }
            });

            $('.footer_carousel').flexslider({
                animation: "slide",
                animationLoop: false,
                slideShow:false,
                controlNav: true,
                maxItems: 1,
                pausePlay: false,
                mousewheel:true,
                start: function(slider){
                    $('body').removeClass('loading');
                }
            });


        });
    </script>
</f:section>
</html>