<html>
<f:layout name="Frontend" />
<f:section name="Content">
<div class="top-image">
	<img src="http://placehold.it/1366x286" alt="" />
</div><!-- Page Top Image -->
<section class="page">
	<div class="container">
		<div class="page-title">
			<h1>Search  <span>Results</span></h1>
		</div><!-- Page Title -->
		<div class="row">
			<div class="left-content col-md-8">
				<ul class="search-tabs nav nav-tabs" id="myTab">
					<li class="active"><a data-toggle="tab" href="#all">All</a></li>
					<li class=""><a data-toggle="tab" href="#event">Event</a></li>
					<li class=""><a data-toggle="tab" href="#blog">Internship Camp</a></li>
					<li class=""><a data-toggle="tab" href="#gallery">Volunteering</a></li>
				</ul><!-- Selectors -->		
				<div class="tab-content" id="myTabContent">
					<div id="all" class="tab-pane fade active in">
						<div class="search-result">
							<h3>Search Result Found For: <span>"Search Term"</span></h3>
							<div class="row">
								<div class="col-md-4">
									<a  class="search-image" href="#" title="">
										<img src="http://placehold.it/270x199" alt="" />
									</a>
								</div>
								<div class="col-md-8">
									<div class="search-detail">
										<h4><a href="#" title="">Lifeline team helped the norcotics addicts to recover in Asia</a></h4>
										<p>Donec et libero quis erat commodo suscipit. Mae elit a,  eleifend leo. Phase llus ut pharetra mictor diam. id Suus arciet spendisse rhoncus id arcet porta. Aenean blandit mi ipsum, ut pharetrns vesti bulum ornare.Lorie ipsum dolor st amet, cons ctetur adipiscing elit. Duis non sceler isque est, quis aliquam ligula.Aenean blamp esum.</p>
									</div>
								</div>
							</div>
						</div>
					</div><!-- All -->
					<div id="event" class="tab-pane fade in">
					</div><!-- Event -->
					<div id="blog" class="tab-pane fade in">
						<div class="search-result">
							<h3>Search Result Found For: <span>"Lifeline Team"</span></h3>
							<div class="row">
								<div class="col-md-4">
									<a  class="search-image" href="#" title="">
										<img src="http://placehold.it/270x199" alt="" />
									</a>
								</div>
								<div class="col-md-8">
									<div class="search-detail">
										<h4><a href="#" title="">Lifeline team helped the norcotics addicts to recover in Asia</a></h4>
										<p></p>
										<p>Donec et libero quis erat commodo suscipit. Mae elit a,  eleifend leo. Phase llus ut pharetra mictor diam. id Suus arciet spendisse rhoncus id arcet porta. Aenean blandit mi ipsum, ut pharetrns vesti bulum ornare.Lorie ipsum dolor st amet, cons ctetur adipiscing elit. Duis non sceler isque est, quis aliquam ligula.Aenean blamp esum.</p>
									</div>
								</div>
							</div>
						</div>
					</div><!-- Blog -->
					<div id="gallery" class="tab-pane fade in">
					</div><!-- Gallery -->
				</div>		  
			</div>
			
			<div class="sidebar col-md-4 pull-right">
				<div class="sidebar-widget">
					<div class="sidebar-search">
						<input class="search" type="text" placeholder="Enter Search Item" />
						<input class="search-button" type="submit" value="" />
					</div>
				</div><!-- Sidebar Search -->
				<div class="sidebar-widget">
					<div class="sidebar-title">
						<h4>Opportunity<span>Search</span></h4>
					</div>
					<div class="popular-posts">

						<div class="theme-tabs">
				<ul class="nav nav-tabs" id="myTab">
					<li class="active"><a data-toggle="tab" href="#tab1">Looking For:</a></li>
					<li class=""><a data-toggle="tab" href="#tab2">Cause</a></li>
					<li class=""><a data-toggle="tab" href="#tab3">Location:</a></li>
					
					
				</ul>			
				<div class="tab-content" id="myTabContent">
					<div id="tab1" class="tab-pane fade in active">
						<div class="aligned left">
							
							<ul class="filters">
								<li><input type="checkbox" name="" value="1"/>Volunteering</li>
								<li><input type="checkbox" name="" value="2"/>Internship Camp</li>
								<li><input type="checkbox" name="" value="3"/>Events</li>
							</ul>
						</div>
					</div>
					<div id="tab2" class="tab-pane fade">
					  <ul class="filters">
								<li><input type="checkbox" name="" value="1"/>Cause</li>
								<li><input type="checkbox" name="" value="1"/>Cause</li>
								<li><input type="checkbox" name="" value="1"/>Cause</li>
								<li><input type="checkbox" name="" value="1"/>Cause</li>
								<li><input type="checkbox" name="" value="1"/>Cause</li>
								<li><input type="checkbox" name="" value="1"/>Cause</li>
								<li><input type="checkbox" name="" value="1"/>Cause</li>
								<li><input type="checkbox" name="" value="1"/>Cause</li>
								<li><input type="checkbox" name="" value="1"/>Cause</li>
								<li><input type="checkbox" name="" value="1"/>Cause</li>
								<li><input type="checkbox" name="" value="1"/>Cause</li>
								<li><input type="checkbox" name="" value="1"/>Cause</li>
								<li><input type="checkbox" name="" value="1"/>Cause</li>
								<li><input type="checkbox" name="" value="1"/>Cause</li>
								
							</ul>
					</div>
					<div id="tab3" class="tab-pane fade">
						<ul class="filters">
						  <li><input type="checkbox" name="" value="1"/>Location</li>
						  <li><input type="checkbox" name="" value="1"/>Location</li>
						  <li><input type="checkbox" name="" value="1"/>Location</li>
						  <li><input type="checkbox" name="" value="1"/>Location</li>
						  <li><input type="checkbox" name="" value="1"/>Location</li>
						  <li><input type="checkbox" name="" value="1"/>Location</li>
						  <li><input type="checkbox" name="" value="1"/>Location</li>
						  <li><input type="checkbox" name="" value="1"/>Location</li>
						  <li><input type="checkbox" name="" value="1"/>Location</li>
						  <li><input type="checkbox" name="" value="1"/>Location</li>
						  <li><input type="checkbox" name="" value="1"/>Location</li>
						  <li><input type="checkbox" name="" value="1"/>Location</li>
						  <li><input type="checkbox" name="" value="1"/>Location</li>
						  <li><input type="checkbox" name="" value="1"/>Location</li>
						  <li><input type="checkbox" name="" value="1"/>Location</li>
						  <li><input type="checkbox" name="" value="1"/>Location</li>
						  <li><input type="checkbox" name="" value="1"/>Location</li>
					  	</ul>
					</div>
					
				</div>
			</div>
					</div>
					
				
				
			</div>
			<div class="sidebar-widget">
					<div class="sidebar-title">
						<h4>Organisation<span>Search</span></h4>
					</div>
					<div class="popular-posts">

						<div class="theme-tabs">
				<ul class="nav nav-tabs" id="myTab">
					<li class="active"><a data-toggle="tab" href="#tab4">Tags</a></li>
					<li class=""><a data-toggle="tab" href="#tab5">Cause</a></li>
					<li class=""><a data-toggle="tab" href="#tab6">Location:</a></li>
					
					
				</ul>			
				<div class="tab-content" id="myTabContent">
					<div id="tab4" class="tab-pane fade in active">
						<div class="aligned left">
							
							<div class="cloud-tags">
								<a href="#" title="">Uncategorized</a>
								<a href="#" title="">Susipit</a>
								<a href="#" title="">Diam</a>
								<a href="#" title="">Diam</a>
								<a href="#" title="">Susipit</a>
								<a href="#" title="">Diam</a>
								<a href="#" title="">Susipit</a>
								<a href="#" title="">Uncategorized</a>
								<a href="#" title="">Susipit</a>
							</div>
						</div>
					</div>
					<div id="tab5" class="tab-pane fade">
					  <ul class="filters">
								<li><input type="checkbox" name="" value="1"/>Cause</li>
								<li><input type="checkbox" name="" value="1"/>Cause</li>
								<li><input type="checkbox" name="" value="1"/>Cause</li>
								<li><input type="checkbox" name="" value="1"/>Cause</li>
								<li><input type="checkbox" name="" value="1"/>Cause</li>
								
								
							</ul>
					</div>
					<div id="tab6" class="tab-pane fade">
						<ul class="filters">
						  <li><input type="checkbox" name="" value="1"/>Location</li>
						  <li><input type="checkbox" name="" value="1"/>Location</li>
						  <li><input type="checkbox" name="" value="1"/>Location</li>
						  <li><input type="checkbox" name="" value="1"/>Location</li>
						 
					  	</ul>
					</div>
					
				</div>
			</div>
					</div>
					
				
				
			</div>
		</div>
	</div>


</section>
</div>
</f:section>
<html>