<html>
<f:layout name="Frontend" />
<f:section name="Content">
<div class="top-image">
	<img src="{f:uri.resource(path:'Frontend/images/single-page-top2.jpg')}" alt="Banner Image" />
</div><!-- Page Top Image -->

<section class="page">
	<div class="container">
		<div class="page-title">
			<h1>First Name <span>Second Name</span></h1>
		</div><!-- Page Title -->
		<div class="row">
			<div class=" col-md-12">
				<div class="col-md-3">
					<div class="aligned-left">
						<img class="pull-left" src="{f:uri.resource(path:'Frontend/images/aligned-image.jpg')}" alt="" style="border:10px #4FC0AA solid;border-radius:10px">
						
					</div>
				</div>
				<div class="col-md-6 col-md-offset-1 theme-tabs">
					<ul class="nav nav-tabs" id="myTab">
							<li class="active"><a data-toggle="tab" href="#tab1">Personal</a></li>
							<li class=""><a data-toggle="tab" href="#tab2">Social</a></li>
							<li class=""><a data-toggle="tab" href="#tab3">Rewards</a></li>
							<li class=""><a data-toggle="tab" href="#tab4">Interests</a></li>
							
					</ul>
					<div class="tab-content" id="myTabContent">
					<div id="tab1" class="tab-pane fade active in">
						
						<ul class="theme-list" >
							
							<li >
								<i class="icon-envelope">  </i><span style="font-size:18px">  shikhar.chauhan@live.com</span>
							</li>
							<li >
								<i class="icon-home">  </i><span style="font-size:18px"> My Awesome address</span>
							</li>
						
						</ul>
					</div>
					
					<div id="tab2" class="tab-pane fade">
					 <ul class="theme-list">
					 	<li >
							<i class="icon-facebook">  </i><span style="font-size:18px"> <a href="www.facebook.com/userID">{User name} on Facebook</a></span>
						</li>
						<li >
							<i class="icon-google-plus-sign">  </i><span style="font-size:18px"><a href=" plus.google.com/userID">{User Name} on G+</a></span>
						</li>
						<li >
							<i class="icon-pencil">  </i><span style="font-size:18px"><a href="www.myblogaddress.com">Blog</a></span>
						</li>
					 </ul>
					</div>
					<div id="tab3" class="tab-pane fade">
						<div class="aligned right">
							<img class="pull-right" src="images/aligned-image.jpg" alt="">
							<h5>Rewards</h5>
							  
						</div>
					</div>
					<div id="tab4" class="tab-pane fade">
						<div class="cloud-tags">
								<a href="#" title="">Uncategorized</a>
								<a href="#" title="">Susipit</a>
								<a href="#" title="">Diam</a>
								<a href="#" title="">Diam</a>
								<a href="#" title="">Susipit</a>
								<a href="#" title="">Diam</a>
								<a href="#" title="">Susipit</a>
								<a href="#" title="">Uncategorized</a>
								<a href="#" title="">Susipit</a>
							</div>
					</div>
					<div id="tab5" class="tab-pane fade">
					  <p>Donec et libero quis erat commodo suscipit. Mae elit a,  eleifend leo. Phase llus ut phar etra mi, ctor diam. id Suus arciet spendisse rhoncus id arcet porta. Aenean blandit ipsum, pharetrnisi vesti bulum ornare. </p>
					</div>
					<div id="tab6" class="tab-pane fade">
					  <p>Donec et libero quis erat commodo suscipit. Mae elit a,  eleifend leo. Phase llus ut phar etra mi, ctor diam. id Suus arciet spendisse rhoncus id arcet porta. Aenean blandit ipsum, pharetrnisi vesti bulum ornare.Lorie ipsum dolor st amet, cons ctetur adipiscing elit. Duis non   sceleri sque est, quis aliquam ligula.Aenean blamp esum. Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh isicatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. </p>
					</div>
				</div>
				</div>
				<div class="col-md-2">
						<div class="accordion_toggle "><a href="#"><span><i class="icon-rocket"></i></span>Followers</a></div>
						<div class="accordion_content">
							<ul class="theme-list">
								<li><i class="icon-caret-right"></i><a style="text-decoration:none"href="">Name</a></li>
								<li><i class="icon-caret-right"></i><a style="text-decoration:none"href="">Name</a></li>
								
							</ul>
						</div>
					
						<div class="accordion_toggle"><a href="#"><span><i class="icon-bitbucket"></i></span>Following</a></div>
						<div class="accordion_content">
							<ul class="theme-list">
							<li><i class="icon-caret-right"></i><a style="text-decoration:none"href="">Name</a></li>
							</ul>	
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
</section>
</hr>
<section class="page">
	<div class="container">
	<h3 class="sub-head">Projects Involved In</h3>
		<div class="row">
			<div class="col-md-12">
				
				<div class="row">
				</br>
					<div class="col-md-3">
						<div class="story">
							<div class="story-img">
								<img src="http://placehold.it/270x196" alt="">
								<h5>Name of the E/I/V</h5>
								<a href="single-post-project.html" title=""><span></span></a>
							</div>
							<p>Some Text for description</p>
							
							<span><i class="icon-map-marker"></i>Location</span>
						</div><!--Story-->
					</div>
					<div class="col-md-3">
						<div class="story">
							<div class="story-img">
								<img src="http://placehold.it/270x196" alt="">
								<h5>Name of the E/I/V</h5>
								<a href="single-post-project.html" title=""><span></span></a>
							</div>
							<p>Some Text for description</p>
							
							<span><i class="icon-map-marker"></i>Location</span>
						</div><!--Story-->
					</div>
					<div class="col-md-3">
						<div class="story">
							<div class="story-img">
								<img src="http://placehold.it/270x196" alt="">
								<h5>Name of the E/I/V</h5>
								<a href="single-post-project.html" title=""><span></span></a>
							</div>
							<p>Some Text for description</p>
							
							<span><i class="icon-map-marker"></i>Location</span>
						</div><!--Story-->
					</div>
					<div class="col-md-3">
						<div class="story">
							<div class="story-img">
								<img src="http://placehold.it/270x196" alt="">
								<h5>Name of the E/I/V</h5>
								<a href="single-post-project.html" title=""><span></span></a>
							</div>
							<p>Some Text for description</p>
							
							<span><i class="icon-map-marker"></i>Location</span>
						</div><!--Story-->
					</div>
				</div>
			</div>
			<div class="col-md-6">
					
			</div>
		</div>
	</div>
</section>

</f:section>
</html>